body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

.App {
  height: 100%;
  padding: 0 5% 10% 5%;
  background-image: url('./images/felt-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  color: #fff;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.App-logo {
  height: 6rem;
  width: 6rem;
  padding-right: 1rem;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.App-title {
  color: rgb(255,255,255);
  background-color: rgba(0,0,0,0);
}

.login {
  height: 3rem;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}